/* #box{
    height: 50px;
    width: 50px;
    background-color: black;
}
.paragraph{
    background-color: aqua; 
}
b,string, strong,h3{
    background-color: brown;
} */
.parent p{
    background-color: blue;
}


/* .parent>p{
    background-color: aquamarine;
}
.parent .child>p{
    background-color: black;
    color: aqua;
} */
 .parent +p{
    background-color: aqua;
 }
 .parent ~p{
    background-color: rgb(42, 91, 91);
 }
 .learn-pseudo{
    height: 100px;
    width: 100px;
    border: 2px double black;
 }
 .learn-pseudo:hover{
background-color: aqua;
 }
 .learn-pseudo:active{
background-color: rgb(238, 0, 255);
 }
 input:focus{
background-color: rgb(0, 149, 255);
 }
 ul{
    background-color: aqua;
    margin-left: 100px;
    
 }
 ul li:first-child{
    background-color: chartreuse;
 }
 ul li:last-child{
    background-color: rgb(113, 168, 58);
 }
 ul li:nth-child(3){
    background-color: rgb(152, 16, 61);
 }